@model IEnumerable<VideoGameLibrary.Models.VideoGame>

@{
    ViewBag.Title = "Index";
}

<h2>Video Game Library</h2>

@using (Html.BeginForm())
{
    <div id="FilterSearch" class="form-horizontal">

        <div class="form-group">
            @Html.Label("Search by Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Filter by Year", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("yearFilter",
                     new SelectList(@ViewBag.Years),
                     "All Years",
                     new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Find Video Game" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Reset Video Game List" onclick="location.href = '@Url.Action("Index", "VideoGame")'" class="btn col-md-2 col-md-offset-2" />
        </div>

    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Name).ToHtmlString(), "Index", new { sortOrder = "Name" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.ReleaseDate).ToHtmlString(), "Index", new { sortOrder = "ReleaseDate" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
